.categories__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories__item {
  background-color: @basic-grey;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
}

.categories__description {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
}
