.demo {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: @special-light-grey;
}

.demo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.demo__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.demo__list {
  margin-bottom: 26px;
}
