.form__item {
  border: none;
  padding: 0;
  padding-bottom: 25px;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}

.form__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.form__name {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__weight {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__age {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__input {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid @special-border-grey;
  outline: none;
  box-sizing: border-box;
  min-height: 45px;
  padding: 0;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

.form__input::placeholder {
  color: @special-dark-grey;
}

.form__label-name {
  width: 38px;
  margin-right: 14px;
}

.form__label-weight {
  width: 85px;
  margin-right: 14px;
}

.form__label-age {
  width: 160px;
  margin-right: 14px;
}
