.form {
  padding-top: 27px;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button {
  width: 280px;
  margin-top: 14px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form__note {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;
  text-align: center;
}
