.order-all {
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.order-all__icon {
  position: absolute;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 101px;
}

.order-all__icon path {
  fill: @basic-white;
}

.order-all__description {
  width: 161px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
  margin: 0;
}
