.page-footer {
  display: flex;
  flex-direction: column;
  background-color: @basic-grey;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social {
  margin-top: 52px;
  margin-bottom: 43px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}
