.products__button-order {
  width: 280px;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.products__item {
  padding-top: 11px;
  padding-bottom: 25px;
}

.products__card {
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 0;
}

.products__img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.products__table {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.products-title {
  width: 76px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.products-link {
  color: @special-dark-grey-2;
}
