.products__button-order {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.products__item {
  background-color: transparent;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
  }
}

.products__item-more {
  background-color: transparent;
}

.products__card {
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.products__img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.products__table {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 16px;
    line-height: 16px;
  }
}

.products-title {
  width: 76px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
    font-size: 20px;
    line-height: 21px;
  }
}

.products-link {
  color: @special-dark-grey-2;
}

.products__card-more {
  grid-template-columns: 1fr;
}
