.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
}

.site-list__link {
  color: @basic-black;
}
