.stats {
  width: 279px;

  @media (min-width: @tablet-width) {
    width: 707px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    flex-wrap: wrap;
  }
}

.stats__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {

    font-size: 30px;
    line-height: 37px;
  }
}

.stats__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  text-transform: lowercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__value {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 42px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
